<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>HTML 5 complete</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<div class="sec-header">
    <div class="mod-header">
        <div class="menu"></div>
        <div class="logo">
            <span class="serviceName">LunchMatch</span>
            <span class="at">@LIFULL</span>
        </div>
    </div>
</div>
<div class="sec-contents">
    <div class="mod-body">
        <ul class="lunchItem">
            <div class="about">
                <div class="date">
                    <span class="month">12<span class="jp">月</span></span>
                    <span class="day">29<span class="jp">日</span></span>
                    <span class="dayOfTheWeek">金</span>
                    <span class="time">13:00</span>
                </div>
                <div class="summary">
                    <div class="title">
                        <span>そばうさでエンジニアトーク！</span>
                    </div>
                    <div class="num">
                        <span class="condition max"><img src="/img/maxPeople.svg"><span class="maxPeopleNum">4</span></span>
                        <span class="condition min"><img src="/img/minPerson.svg" alt=""><span class="minPeopleNum">2</span></span>
                    </div>
                </div>
            </div>
            <div class="current">
                <span class="now">
                    現在の参加人数：<span class="nowPeopleNum">3</span>人
                </span>
                <span class="remain">
                    あと<span class="remainPeopleNum">1</span>人まで
                </span>
            </div>
            <div class="buttonArea">
                <div class="attend">
                    <button type="button"><img src="/img/dish.svg" alt="">参加する！</button>
                </div>
            </div>
        </ul>
        <ul class="lunchItem">
            <div class="about">
                <div class="date">
                    <span class="month">12<span class="jp">月</span></span>
                    <span class="day">29<span class="jp">日</span></span>
                    <span class="dayOfTheWeek">金</span>
                    <span class="time">13:00</span>
                </div>
                <div class="summary">
                    <div class="title">
                        <span>そばうさでエンジニアトーク！</span>
                    </div>
                    <div class="num">
                        <span class="condition max"><img src="/img/maxPeople.svg"><span class="maxPeopleNum">4</span></span>
                        <span class="condition min"><img src="/img/minPerson.svg" alt=""><span class="minPeopleNum">2</span></span>
                    </div>
                </div>
            </div>
            <div class="current">
                <span class="now">
                    現在の参加人数：<span class="nowPeopleNum">3</span>人
                </span>
                <span class="remain">
                    あと<span class="remainPeopleNum">1</span>人まで
                </span>
            </div>
            <div class="buttonArea">
                <div class="attend">
                    <button type="button"><img src="/img/dish.svg" alt="">参加する！</button>
                </div>
            </div>
        </ul>
        <ul class="lunchItem">
            <div class="about">
                <div class="date">
                    <span class="month">12<span class="jp">月</span></span>
                    <span class="day">29<span class="jp">日</span></span>
                    <span class="dayOfTheWeek">金</span>
                    <span class="time">13:00</span>
                </div>
                <div class="summary">
                    <div class="title">
                        <span>そばうさでエンジニアトーク！</span>
                    </div>
                    <div class="num">
                        <span class="condition max"><img src="/img/maxPeople.svg"><span class="maxPeopleNum">4</span></span>
                        <span class="condition min"><img src="/img/minPerson.svg" alt=""><span class="minPeopleNum">2</span></span>
                    </div>
                </div>
            </div>
            <div class="current">
                <span class="now">
                    現在の参加人数：<span class="nowPeopleNum">3</span>人
                </span>
                <span class="remain">
                    あと<span class="remainPeopleNum">1</span>人まで
                </span>
            </div>
            <div class="buttonArea">
                <div class="attend">
                    <button type="button"><img src="/img/dish.svg" alt="">参加する！</button>
                </div>
            </div>
        </ul>
        <ul class="lunchItem">
            <div class="about">
                <div class="date">
                    <span class="month">12<span class="jp">月</span></span>
                    <span class="day">29<span class="jp">日</span></span>
                    <span class="dayOfTheWeek">金</span>
                    <span class="time">13:00</span>
                </div>
                <div class="summary">
                    <div class="title">
                        <span>そばうさでエンジニアトーク！</span>
                    </div>
                    <div class="num">
                        <span class="condition max"><img src="/img/maxPeople.svg"><span class="maxPeopleNum">4</span></span>
                        <span class="condition min"><img src="/img/minPerson.svg" alt=""><span class="minPeopleNum">2</span></span>
                    </div>
                </div>
            </div>
            <div class="current">
                <span class="now">
                    現在の参加人数：<span class="nowPeopleNum">3</span>人
                </span>
                <span class="remain">
                    あと<span class="remainPeopleNum">1</span>人まで
                </span>
            </div>
            <div class="buttonArea">
                <div class="attend">
                    <button type="button"><img src="/img/dish.svg" alt="">参加する！</button>
                </div>
            </div>
        </ul>
        <ul class="lunchItem">
            <div class="about">
                <div class="date">
                    <span class="month">12<span class="jp">月</span></span>
                    <span class="day">29<span class="jp">日</span></span>
                    <span class="dayOfTheWeek">金</span>
                    <span class="time">13:00</span>
                </div>
                <div class="summary">
                    <div class="title">
                        <span>そばうさでエンジニアトーク！</span>
                    </div>
                    <div class="num">
                        <span class="condition max"><img src="/img/maxPeople.svg"><span class="maxPeopleNum">4</span></span>
                        <span class="condition min"><img src="/img/minPerson.svg" alt=""><span class="minPeopleNum">2</span></span>
                    </div>
                </div>
            </div>
            <div class="current">
                <span class="now">
                    現在の参加人数：<span class="nowPeopleNum">3</span>人
                </span>
                <span class="remain">
                    あと<span class="remainPeopleNum">1</span>人まで
                </span>
            </div>
            <div class="buttonArea">
                <div class="attend">
                    <button type="button"><img src="/img/dish.svg" alt="">参加する！</button>
                </div>
            </div>
        </ul>
    </div>
</div>

</body>
</html>
