<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Make number GAME</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script  src="/js/index.js"></script>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<div class="sec-contents" id="prg-contents">
    <div class="mod-body">
        <div class="proceed" id="prg-proceed">
            <ul class="part">
                <div class="number goal">4900</div>
            </ul>
            <ul class="part">
                <div class="equal">=</div>
            </ul>
            <ul class="part">
                <div class="number first">8200</div>
                <div class="operator">＋</div>
                <div class="number second">-3300</div>
            </ul>
        </div>
        <div class="numbers" id="prg-numbers">
            <div class="number">8200</div>
            <div class="number">540</div>
            <div class="number">-3300</div>
            <div class="number">3</div>
            <div class="number">-100</div>
            <div class="number">5500</div>
            <div class="number">-0.02</div>
            <div class="number">0.9</div>
        </div>
        <div class="operators" id="prg-operators">
            <div class="operator gray" data-operator="+">＋</div>
            <div class="operator gray" data-operator="-">ー</div>
            <div class="operator gray" data-operator="*">×</div>
            <div class="operator gray" data-operator="/">÷</div>
        </div>
    </div>
    <div class="mod-score">
        <div class="winlose">
            <span class="win">0</span>
            <span class="text">勝</span>
            <span class="lose">0</span>
            <span class="text">敗</span>
        </div>
    </div>
</div>

</body>
</html>
