.mod-body {
    width: 940px;
    margin: 0 auto;
}
.mod-body .proceed {
    margin: 20px 0px 50px 0px;
    padding: 40px;
    background: #444;
    text-align: center;
}
.mod-body .proceed > div {
    display: inline-block;
    color: rgb(255, 255, 255);
}
.mod-body .proceed .number {
    width: 30%;
    font-size: 200%;
}
.mod-body .proceed .operator {
    font-size: 150%;
}
.mod-body .numbers {
    margin-left: -60px;
    letter-spacing: -.40em;
}
.mod-body .numbers .number {
    box-sizing: border-box;
    margin-left: 60px;
    margin-bottom: 30px;
    width: 190px;
    display: inline-block;
    border-radius: 20px;
    padding: 30px;
    background: #ed6103;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    text-align: center;
}
.mod-body .operators {
    margin-top: 20px;
    margin-right: 68px;
    letter-spacing: -.40em;
}
.mod-body .operators .operator {
    box-sizing: border-box;
    margin-left: 68px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 20px;
    padding: 30px;
    background: #2255bb;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
    line-height: 80px;
}
